.wrapper {
  max-width: 1200px;
  height: 100%;
  background: #f7f7f7;
}

.loginForm {
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 30px 20px;
  background-color: #ffffff;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.loginForm h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
}

.pw {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
}

.btn {
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 80%;
  height: 40px;
  background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: inline;
}

.btn:hover {
  background-position: right;
}

.login_warn {
  font-size: 12px;
  color: red;
}
.sns-wrap {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.sns-wrap p {
  font-size: 13px;
  color: rgb(122, 127, 134);
  width: 250px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 18px;
}
.before {
  width: 229.5px;
  height: 2px;
  background: rgb(207, 210, 215);
}
.after {
  width: 229.5px;
  height: 2px;
  background: rgb(207, 210, 215);
}

.icon {
  margin-right: 12px;
}

.icon_wrap {
  display: flex;
  justify-content: center;
}
